.App {
  text-align: center;
}

.nav-search-title {
  margin-right: 5px;
  font-size: 18px;
}

.inp-search {
  background-color: inherit;
  border: 1px solid #97feed;
  border-radius: 15px;
  padding: 10px;
  color: #97feed;
  margin-right: 5px;
}
